[user]
	name = Corey Winkelmann
	email = corey.winkelmann@cagenix.net
[alias]
  st = status
  ci = commit
  pu = smart-pull
  up = smart-pull
  b = branch
  co = checkout
  df = diff
  lg = log -p
[core]
	editor = vim
	excludesfile = /Users/cwinkelmann/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
